* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: #f6e8d7;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 50px;
}

nav .logo {
    font-size: 40px;
}

.nav-links ul {
    list-style-type: none;
}

.nav-links ul a {
    text-decoration: none;
    color: black;
}

.logo a:hover {
    text-decoration: underline;
}

.nav-links ul a:hover {
    text-decoration: underline;
}

.logo a, .resume-link a {
    text-decoration: none;
    color: black;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

.head-line, .intro {
    padding: 30px 70px;
}

.head-line{
    font-size: 45px;
    width: 90%;
}

.intro {
    font-size: 35px;
    width: 90%;
    line-height: 50px;
}

.resume-link a {
    display: flex;
    justify-content: center;
    background-color: #d8e2da;
    border-radius: 20px;
    padding: 15px;
    border: solid 3px black;
    font-size: 25px;
    margin-top: 20%;
}

.resume-link a:hover {
    background-color: #b1dfbb;
}

.index-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 30px;
}

.index-footer p {
    font-size: 12px;
}

.current {
    text-decoration: underline;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f3cfbf;
}

.thumbnail img {
    width: 65%;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin: 10px 60px;
    font-size: 20px;
    line-height: 40px;
}

.description p {
    padding: 10px;
}

.description h1, h2 {
    padding: 20px 5px;

}

.interact a {
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    border: solid 3px black;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 15%;
}

.interact a:hover {
    background-color: #d8e2da;
}

.the-footer {
    background-color: #f3cfbf;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 15px;
    height: 30%;
}

.the-footer p {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.the-footer p a {
    text-decoration: none;
    color: black;
    background-color: white;
    border: solid 3px black;
    border-radius: 20px;
    padding: 15px;
}

.the-footer p a:hover {
    background-color: #d8e2da;
}

.container-abt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img img {
    width: 30%;
}

.profile-img {
    display: flex;
    justify-content: center;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contacts img {
    width: 50%;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me-text p {
    padding: 10px 60px;
    margin: 10px 60px;
    font-size: 20px;
    line-height: 40px;
}


/* Mobile View */

@media screen and (max-width: 630px) {
    nav .logo {
        font-size: 30px;
        margin-right: 20px;;
    }

    .nav-links ul {
        font-size: 17px;
        margin-left: 25px;
        white-space: nowrap;
        gap: 30px;
    }

    .head-line {
        font-size: 15px;
        width: 100%
    }

    .intro {
        font-size: 20px;
        width: 100%;
        line-height: 30px;
    }

    .resume-link a {
        font-size: 15px;
        width: 90%;
    }

    .container {
        margin-top: 30%;
    }

    .thumbnail img {
        width: 100%;
    }

    .description {
        margin: 10px;
    }

    .interact a {
        width: 70%;
    }

    .contact-me {
        font-size: 15px;
        margin-top: 50px;
    }

    .contacts img {
         margin-top: 50px;
    }

    .profile-img img {
        width: 100%;
        padding: 50px;
    }

    .about-me-text p {
        padding: 10px 30px;
        margin: 10px 30px;
    }
}